code/*.o
code/service/*
!code/service/*.cpp
!code/service/*.hpp

code/hash/*
!code/hash/*.cpp
!code/hash/*.hpp
!code/hash/*.h
!code/hash/*.proto

!code/type/*.hpp

code/client
code/storage
code/manager
code/conhash
code/peda*
code/gdb*
